.App {
  margin: auto;
  max-width: 600px;
  padding: 0 10px;
}

.App .field {
  margin-top: 15px;
}

.App .field label,
.App .field input,
.App .field textarea {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  width: 100%;
}

.App .field input,
.App .field textarea {
  border: 1px solid lightgrey;
  padding: 5px;
}

.App .field input:focus,
.App .field textarea:focus {
  border-color: grey;
}

.App .field label {
  margin-bottom: 5px;
  cursor: pointer;
}

.App .submit-button {
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  color: white;
  font-size: 1em;
  margin: auto;
  padding: 5px 10px;
}

.App .submit-button:disabled {
  opacity: 0.5;
}

.App .success {
  color: #28a745;
}

.App .error {
  color: #dc3545;
}
